#
# richtechie support drivers
#

menu "richtechie support drivers"

source "drivers/richtechie/mma8452/Kconfig"
source "drivers/richtechie/battery/Kconfig"
source "drivers/richtechie/system/Kconfig"

endmenu

